<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material Style Foldable Folder Structure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/files_view_style.css') }}">
</head>

<body>
    <div class="structure-viewer">
        <ul class="folder-structure">
            {{tree_html}}
        </ul>
    </div>
    <script src="{{ url_for('static', filename='js/files_view_script.js') }}"></script>
</body>

</html>